<footer class="my-20 border-t border-slate-100 pt-10">
  <p class="text-center text-sm font-medium text-slate-700">
    SiPintar — Jasa Joki Tugas & Karya Ilmiah Terpercaya.
  </p>
  <p class="text-center text-xs text-slate-500 mt-2">
    Copyright © {new Date().getFullYear()} SiPintar. All rights reserved.
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-[11px] text-slate-400 mt-2">
    Made with ❤️ by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline hover:text-blue-600 transition">
      Web3Templates
    </a>
  </p>
</footer>